:root {

  --color-0: #FFFFFF; /* box color */



  --color-1: #7b00ff; /* */

  --color-2: #7b00ff; /* */

  --color-3: #7b00ff; /* main color */

  --color-4: #7b00ff; /* sub  color */

  --color-5: #7b00ff; /* */

}



header #header-bar > .row {

    padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid var(--color-5);

    background: -webkit-linear-gradient(45deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-2) 100%);

    border-bottom: 2px solid var(--color-1); border-right: 2px solid var(--color-1) 

}